*{
    margin:0;
    padding:0;
    font-family: "Arial", "sans-serif";
}

body{
    background-image: url(https://github.com/MegaChestercat/Project-Images/blob/main/images/bg2.png?raw=true);
    background-size: cover;
}

h1{
    text-align: center;
    margin-top: 3rem;
    color: rgb(255, 255, 255);
}

.box{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection{
    box-shadow: 0 0 0.88rem #000000;
    background-color: rgba(255, 255, 255, 0.7);

    border-radius: 1rem;
    padding: 3rem;
    padding-top:1.5rem;
}

label{
    font-weight: bold;
}

input, textarea, select{
    display: block;
    border-radius: 1rem;
    padding-left: 0.3rem;
    margin-bottom: 1rem;
}

input{
    width:20rem;
    height:2.4rem;
}

hr{
    margin-bottom: 1rem;
}

textarea{
    overflow:hidden;
    border-radius: 0.7rem;
    padding-top: 0.3rem;
    width:20rem;
    height:5rem;
    resize: none
}

fieldset{
    border-radius: 1rem;
    margin-bottom: 2rem;
}
legend{
    text-align: center;
}

button{
    width: 22.3rem;
    height: 3rem;
    margin-top: 0.2rem;
    margin-bottom: 1.8rem;
    background-color:orange;
    border-radius: 2rem;
}

button:hover{
    background-color: #D88E35;
}

button:hover::after{
    background-color: orange;
}
