<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="dashboard.css"> <!-- Link to the new dashboard.css -->
    <title>User Dashboard | TalentHunters</title>
    <link rel="shortcut icon" href="src/icon.png">
    <link rel="stylesheet" href="style.css"> <!-- Include the existing style.css -->
</head>
<body>
    <nav>
        <h3>Hello! USERNAME</h3>
        <ul>
            <li><a href="/create/project" target="_self" class="norm">Create Project</a></li>
            <li><a href="/create/contract" target="_self" class="norm">Create Contract</a></li>
            <li><a href="/speedDating" target="_self" class="norm">Speed Dating</a></li>
        </ul>
    </nav>


<div class="container dashboard-container">
    

    <div class="mosaic-container">
        <div class=""></div> <!-- Add the rectangle here -->

        <div class="title">Welcome to your Talented Dashboard
            <div class="rectangle">
                <h2>History of Projects</h2>
                <br>
                <p>Check the history of all your projects</p>
            </div>
            
            <div class="rectangle">
                <h2>Current Projects</h2>
                <br>
                <p>Check all the current projects that are vailable to join</p>
            </div>

        
    </div>
</div>

</body>
</html>
