<!DOCTYPE html>
<html>
    <head>
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="/css/normalize.css">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link type="text/css" rel="stylesheet" href="/css/dashboard.css">
            <title>User History | TalentHunters</title>
            <link rel="shortcut icon" href="/src/icon.png">
        </head>
    </head>
    <body>

    </body>
</html>