<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/normalize.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/home.css">
        <title>Home | Who's your Talent?!</title>
        <link rel="icon" href="https://github.com/MegaChestercat/Project-Images/blob/main/images/icon.jpg?raw=true">
    </head>
    <body>
        <!--Header bar-->
        <div class="container">
            <div class="header">
                <nav>
                    <a href="/"><img src="https://github.com/MegaChestercat/Project-Images/blob/main/images/logo.png?raw=true" class="logo"></a>
                    <ul>
                        <li><a href="/login" target="_self" class="norm">About us</a></li>
                        <li><a href="/contact" target="_self" class="norm">Contact</a></li>
                        <li><a href="/login" target="_self"><button class="btn" id="log">Login</button></a></li>
                        <li><a href="/register" target="_self"><button class="btn" id="reg">Register</button></a></li>
                    </ul>
                </nav>
                <div class="header-title">
                    <h1>Who's Your Talent?!</h1>
                    <h3>The best place for a flourishing career</h3>
                    <h6>Join thousands of people that are using the platform and working for the best companies in the world.</h6>
                    <a href="/register" target="_self"><button id="main_btn">Join Now</button></a>
                </div>
            </div>
        </div>

        <div id="copyright">
            <div class="container">
                <p>© 2023 Who's Your Talent?!</p>
            </div>
        </div>

    </body>
</html>