<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/contract.css">
    <title>Contract | TalentHunters</title>
    <link rel="shortcut icon" href="src/icon.png">
</head>
<body>

<div class="container">
    <h1 class="title">Contract Information</h1>
    <div class="box">
        <div class="form">
            <form>
                <div class="form-group">
                    <label>Contract ID:</label>
                    <span>12345</span>
                </div>

                <div class="form-group">
                    <label>Client ID:</label>
                    <span>6789</span>
                </div>

                <div class="form-group">
                    <label>Date Created:</label>
                    <span>MM/DD/YYYY</span>
                </div>
                <label for="ContractContent">Contract Details:</label>
                <textarea name="ContractContent" id="ContractContent" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus luctus est vitae sodales. Sed eu massa nec nunc rutrum sodales. Morbi finibus bibendum tortor, nec tincidunt arcu placerat sed. Nullam non quam neque. Integer et eros vel nunc fermentum dictum et a massa. Quisque viverra aliquam magna, non varius lorem ultricies vel."></textarea>

                <div class="button-group">
                    <button id="cancelButton" class="cancel-button">Cancel Contract</button>
                    <button id="acceptButton" class="accept-button">Accept Contract</button>
                </div>
            </form>
        </div>
    </div>
    <p id="copyright">© TalentHunters</p>
</div>

</body>
</html>
