*{   
    margin: 0;
    padding: 0;
    font-family: 'Arial', 'sans-serif';
    box-sizing: border-box;
    
}

body{
    background: #FFFFFF;
    color: #000000;
}

.header{
    width: 100%;
    height: 80vh;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: center;
}
nav{
    position: sticky;
    font-size: 1.5rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 0 0.19rem #000000;
    background-color: rgb(255,255,255);
}
nav ul{
    margin-right: 6.3rem;
    text-align: left;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 1rem 1.8rem;
}

nav ul li a{
    color: #000000;
    text-decoration: none;
    position: relative;
    transition: 0.3s;
}

nav ul li .norm::after{
    content: '';
    width: 0;
    height: 3px;
    background: orange;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li .norm:hover::after{
    width: 100%;
}

.logo{
    width: 140px;
    margin-left: 50px;
}
.btn{
    border-color: transparent;
    border-radius: 15rem;
    background-color: lightgray;
    height: 2.4rem;
    font-size: 1.1rem;
    width: 5rem;
}

.btn[id="log"]:hover{
    background-color: #D88E35;
}

.btn[id="log"]:hover::after{
    background-color: lightgray;
}

.header-title{
    color: rgb(255,255,255);
    margin-top: 7%;
    font-size: 2rem;
    text-align: center;
}

#reg{
    background-color: orange;
}

#reg:hover{
    background-color: #D88E35;
}

#reg:hover::after{
    background-color: orange;
}

h6{
    margin-top:4rem;
    margin-bottom: 2.2rem;
}

#main_btn{
    border-color: transparent;
    border-radius: 15rem;
    background-color: rgba(255, 139, 0, 0.8);
    height: 4rem;
    font-size: 1.1rem;
    width: 12rem;
}

#main_btn:hover{
    background-color: rgba(216, 142, 53, 0.8);
}

#main_btn:hover::after{
    background-color: rgba(255, 139, 0, 0.8);
}

#copyright{
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 15px 0;
    color: #b9bdba;
    background: #262626;
    font-weight: 300;
}