<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="src/css/normalize.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="src/css/dashboard.css">
    <link rel="stylesheet" href="dashboard.css"> <!-- Link to the new dashboard.css -->
    <title>User Dashboard | TalentHunters</title>
    <link rel="shortcut icon" href="src/icon.png">
    <link rel="stylesheet" href="style.css"> <!-- Include the existing style.css -->
</head>
<body>

    <div class="titleheader">Hello! USERNAME</div>

<div class="container dashboard-container">
    

    <div class="mosaic-container">
        <div class=""></div> <!-- Add the rectangle here -->

        <div class="title">Welcome to your Talented Dashboard
            <div class="rectangle">
                <h2>History of Projects</h2>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel turpis id felis vestibulum elementum.</p>
            </div>
            
            <div class="rectangle">
                <h2>Current Projects</h2>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel turpis id felis vestibulum elementum.</p>
            </div>

            <div class="rectangle">
                <h2>Total Projects Completed</h2>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel turpis id felis vestibulum elementum.</p>
            </div>
        
    </div>
</div>

</body>
</html>
