<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/normalize.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="/css/register_2.css">
        <title>Register Talent | Who's your Talent?!</title>
        <link rel="shortcut icon" href="/img/icon.jpg">
    </head>
    <body>
        <h1>Register Talent</h1>
        <div class="box">
            <div class="selection">
                <form id="TalReg">
                    <fieldset>
                        <legend>Account Details:</legend>
                        <label for="TalEmail">Email:</label>
                        <input type="text" name="TalEmail"id="TalEmail" placeholder="example@email.com">
                        <label for="Talpassword">Password:</label>
                        <input type="password" name="Talpassword"id="Talpassword" placeholder="Password">
                        <label for="TalPhoneNum">Phone Number:</label>
                        <input type="text" name="TalPhoneNum"id="TalPhoneNum" placeholder="Google">
                        <label for="TalLocation">Location:</label>
                        <input type="text" name="TalLocation"id="TalLocation" placeholder="USA">
                        <label for="Taldesc">Account Description:</label>
                        <textarea name="Taldesc"id="Taldesc" placeholder="A business that tries to create innovative technologies that can help to manage the current issues of medical technology."></textarea>
                        <label for="TalProjectActivity">Project Activities:</label>
                        <input type="text" name="TalProjectActivity"id="TalProjectActivity" placeholder="Digital Animation, Marketing">
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend>Talent Details:</legend>
                        <label for="TalName">Company Name:</label>
                        <input type="text" name="TalName"id="TalName" placeholder="Matthew">
                        <label for="TalLastName">Last Name:</label>
                        <input type="text" name="TalLastName"id="TalLastName" placeholder="Loucks">
                        <label for="TalBirthDate">Birth Date:</label>
                        <input type="date" name="TalBirthDate"id="TalBirthDate">
                        <label for="TalProfileTitle">Profile Title:</label>
                        <input type="text" name="TalProfileTitle"id="TalProfileTitle" placeholder="JavaScript Developer">
                        <label for="TalAcademicBackground">Academic Background:</label>
                        <textarea name="TalAcademicBackground"id="TalAcademicBackground" placeholder="Here it must go a description of the academical background of the talent (E.g. Degrees, Certifications, Specializations)"></textarea>
                        <label for="TalProfActivity">Professional Activity:</label>
                        <textarea name="TalProfActivity"id="TalProfActivity" placeholder="Here it must go a description of the most important jobs and/or projects you have been involved"></textarea>
                        <label for="TalCapacities">Skills:</label>
                        <textarea name="TalCapacities"id="TalCapacities" placeholder="Here it must go a description of the soft and hard skills of the Talent"></textarea>
                        <label for="TalAvTime">Available Time:</label>
                        <input type="text" name="TalAvTime"id="TalAvTime" placeholder="Mon-Fri from 8am to 6pm">
                        <label for="TalAvPlace">Available Place:</label>
                        <input type="text" name="TalAvPlace"id="TalAvPlace" placeholder="E.g. Online, Hybrid">
                        <label for="TalCost">Cost:</label>
                        <input type="number" name="TalCost"id="TalCost" placeholder="JavaScript Developer">
                        <label for="TalCostType">Cost Type:</label>
                        <select name="TalCostType" id="TalType">
                            <option value="hour" selected>Per Hour</option>
                            <option value="project">Per Project</option>
                        </select>
                    </fieldset>
                </form>
                <button id="RegTal">Register</button>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/server/main.js"></script>
    </body>
</html>