<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/normalize.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="/css/register_2.css">
        <title>Register Individual | Who's your Talent?!</title>
        <link rel="shortcut icon" href="/images/icon.jpg">
    </head>
    <body>
        <h1>Register Individual</h1>
        <div class="box">
            <div class="selection">
                <form id="indReg">
                    <fieldset>
                        <legend>Account Details:</legend>
                        <label for="IndEmail">Email:</label>
                        <input type="text" name='IndEmail'id="IndEmail" placeholder="example@email.com">
                        <label for="Indpassword">Password:</label>
                        <input type="Indpassword" name="Indpassword" id="Indpassword" placeholder="Password">
                        <label for="IndPhoneNum">Phone Number:</label>
                        <input type="text" name="IndPhoneNum"id="IndPhoneNum" placeholder="Google">
                        <label for="IndLocation">Location:</label>
                        <input type="text" name="IndLocation"id="IndLocation" placeholder="USA">
                        <label for="Inddesc">Account Description:</label>
                        <textarea id="Inddesc" name="Inddesc" placeholder="A business that tries to create innovative technologies that can help to manage the current issues of medical technology."></textarea>
                        <label for="IndProjectActivity">Project Activities:</label>
                        <input type="text" name="IndProjectActivity"id="IndProjectActivity" placeholder="Digital Animation, Marketing">
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend>Individual Details:</legend>
                        <label for="IndName">First Name:</label>
                        <input type="text" name="IndName"id="IndName" placeholder="Matthew">
                        <label for="IndLastName">Last Name:</label>
                        <input type="text" name="IndLastName" id="IndLastName" placeholder="Loucks">
                        <label for="IndBirthDate">Birth Date:</label>
                        <input type="date" name="IndBirthDate"id="IndBirthDate">
                        <label for="IndProfileTitle">Profile Title:</label>
                        <input type="text" name="IndProfileTitle" id="IndProfileTitle" placeholder="JavaScript Developer">
                    </fieldset>
                </form>
                <button id="regInd">Register</button>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/server/main.js"></script>
    </body>
</html>