<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/normalize.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="/css/register_1.css">
        <title>Register | Who's your Talent?!</title>
        <link rel="shortcut icon" href="/img/icon.jpg">
    </head>
    <body>
        <h1>Select the type of of hunter you are</h1>
        <div class="box">
            <div class="selection">
                <h4 id="t1">Company:</h4>
                <a href="/register/company" target="_self"><button>Register Company</button></a>
                <h4 id="t2">Individual:</h4>
                <a href="/register/individual" target="_self"><button>Register Individual</button></a>
                <p id="yes">Have an account?</p>
                <a href="/login" target="_self"><button>Log In</button></a>
                <p id="copyright">© 2023 Who's your Talent?!</p>
            </div>
        </div>
    </body>
</html>